/* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100%;
} */
