.search-bar{
    padding: 10px;
    border-radius: 5px;
}

.date-picker{
    padding: 10px 20px;
    border-radius: 5px;
}

.button{
    padding: 10px 30px;
    background-color: rgb(47, 189, 47);
    border-radius: 10px;
    color: white;
    font-size: large;
}