.display{
    border: 2px solid rgb(70, 69, 69);
    border-radius: 10px;
    height: 70px;
    margin-bottom: 10px;
    font-size: x-large;
    padding: 0px 20px;
    display: flex;
    text-align: right;
}